html,
body {
  font-family: Georgia, sans-serif;
  background-color: #fffb91;
}

#root {
  text-align: center;
  border: solid;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  background-color: #ff9aa2;
  color: beige;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1 {
  border-radius: 5px;
  padding: 20px;
  margin-top: 0;
  font-size: 3em;
  font-weight: 100;
}

#offset {
  width: 40px;
  margin: 20px;
}

.boton {
  width: 80px;
  border-radius: 30px;
  background-color: #fadc9b;
  color: black;
  padding: 5px;
}

#cipher {
  margin-bottom: 10px;
}

.boton:hover {
  background-color: rgb(126, 65, 65);
  cursor: pointer;
}

#textarea {
  background-color: #fcfcda;
}

#message {
  color: rgb(145, 69, 226);
}
